<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<title>注册界面</title>
</head>
<body>
	
		
	<div class="container" >
		<table class="table" style="width: 600px;margin:  auto;">
			<tr><td><a href="__URL__/zhuxiao" class="btn btn-default">注销</a></td></tr>
			<tr>
				<td><a href="__URL__/zhuceAdmin">注册管理</a></td>
				<td><a href="__URL__/userAdmin">用户管理</a></td>
				<!-- <td><a href="__URL__/userAdmin">用户管理(根据每日新增算法)</a></td> -->
				<td><a href="__URL__/T">周期管理</a></td>
			</tr>
		</table>
	</div>


	<script src="/think/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>