<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<title>新增周期界面</title>
</head>
<body>
	
	<div class="container">
		<div class="text-center"><strong>周期</strong></div>
		<table class="table">
			<tr>
				<td>周期数</td>
				<td>起始时间</td>
				<td>结束时间</td>
			</tr>
			{volist name='list' id='T'}
			<tr>
				<td>{$i}</td>
				<td>{$T.startTime}</td>
				<td>{$T.endTime}</td>
			</tr>
			{/volist}
		</table>
	</div>

	<div class="container" >
		<div style="text-align: center;"><strong>新增周期</strong></div>
		<form action="__URL__/Tpro" method="post" class="form">
			<table class="table" style="width: 600px;margin:  auto;">
				<tr>
					<td><label for="startTime">请输入起始时间</label></td>
					<td><input type="date" name="startTime" id="startTime"></td>
				</tr>
				<tr>
					<td><label for="endTime">请输入结束时间</label></td>
					<td><input type="date" name="endTime" id="endTime"></td>
				</tr>
				<tr>
					<td> <input type="submit" value="提交" class="btn btn-default"> </td>
					<td> <input type="reset" value="重置" class="btn btn-default"> </td>
				</tr>
			</table>
		</form>
	</div>

	<div class="container" style="margin: 20px auto">
		<div style="text-align: center;"><strong>通过周期起始时间修改该周期结束时间</strong></div>
		<form action="__URL__/changTPro" method="post" class="form">
			<table class="table" style="width: 600px;margin:  auto;">
				<tr>
					<td><label for="startTime">请输入起始时间</label></td>
					<td><input type="date" name="startTime" id="startTime"></td>
				</tr>
				<tr>
					<td><label for="endTime">请输入结束时间</label></td>
					<td><input type="date" name="endTime" id="endTime"></td>
				</tr>
				<tr>
					<td> <input type="submit" value="修改" class="btn btn-default"> </td>
					<td> <input type="reset" value="重置" class="btn btn-default"> </td>
				</tr>
			</table>
		</form>
	</div>


	<script src="/think/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>