<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<title>注册管理界面</title>
</head>
<body>
	
	{if $result['flag']==1}
	<div class="container" style="margin-top: 20px">
		<form action="__URL__/updatePro/flag/1/phone/{$result['phone']}" method="post" class="form">
		<table class="table table-responsive">
			<tr>
				<td><label for="Ttarget">周期目标</label></td>
				<td><input type="text" id="Ttarget" name="Ttarget"></td>
			</tr>
			<tr>
				<td><label for="CSL">初始单量</label></td>
				<td><input type="text" id="CSL" name="CSL"></td>
			</tr>
			<tr>
				<td><input class="btn btn-default" type="submit" id="submit" value="更新"></td>
				<td><input class="btn btn-default" type="reset" value="重置"></td>
			</tr>
		</table>
	</form>
	</div>
		{else/}	<div class="container" style="margin-top: 20px">
		<form action="__URL__/updatePro/flag/2/phone/{$result['phone']}" method="post" class="form">
			<table class="table table-responsive">
			<tr>
				<td><label for="Ttarget">周期目标</label></td>
				<td><input type="text" id="Ttarget" name="Ttarget"></td>
			</tr>
			<tr>
				<td><input class="btn btn-default" type="submit" id="submit" value="更新"></td>
				<td><input class="btn btn-default" type="reset" value="重置"></td>
			</tr>
		</table>
		</form>
	</div>
	{/if}
	{if $result['flag']==1}
	<script>
		var target = document.getElementById('Ttarget');
		var csl = document.getElementById('CSL');
		var submit = document.getElementById('submit');

		submit.onclick=function(){
			if(target.value.length == 0 && csl.value.length == 0 ){
				alert("不能不做修改");
				reurn false;
			}else return true;
		}
	</script>
	{else/}
	<script>
		var target = document.getElementById('Ttarget');
		var submit = document.getElementById('submit');

		submit.onclick=function(){
			if(target.value.length == 0 ){
				alert("不能不做修改");
				reurn false;
			}else return true;
		}
	</script>
	{/if}



	<script src="/think/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>