<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<title>注册管理界面</title>
</head>
<body>
	<div class="container" style="margin-top: 20px">
		<!-- <strong style="float: left;"><a href="#">返回管理</a></strong> -->
		<strong style="width: 200px;margin: 0 auto;display: block;font-size: 16px">百万精英目标清单</strong>

		<table class="table table-responsive">
			<tr>
				<td>姓名</td>
				<td>手机号</td>
				<td>密码</td>
				<td colspan="2" style="text-align: center;">审核</td>
			</tr>
			{volist name='list' id='user'}
			<tr>
				<td>{$user.username}</td>
				<td>{$user.phone}</td>
				<td>{$user.password}</td>
				<td><a href="__URL__/zhuceUser/flag/zhuce/username/{$user.username}/password/{$user.password}/phone/{$user.phone}">注册</a></td>
				<td style="text-align: right;"><a href="__URL__/zhuceUser/flag/del/username/{$user.username}/password/{$user.password}/phone/{$user.phone}">删除</a></td>
			</tr>
			{/volist}
		</table>
		<div style="width: 329px;margin: 0 auto">{$list->render()}</div>
	</div>



	<script src="/think/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>