<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="__ROOT__/public/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<title>用户界面</title>
</head>
<body>
	<div class="container" style="margin-top: 20px;width: 500px;margin: 0 auto">
		<table class="table">
			<tr>
				<td><h3>欢迎{php}echo session("username");{/php}登录</h3></td>
				<td><h3><a href="__URL__/index">返回首页</a></h3></td>
				<td><td><h3><a href="__URL__/zhuxiao">注销</a></h3></td></td>
			</tr>
		</table>
		{if $TID == null || $date > $endTime } 
		<strong id='p1' style='margin-right: 10px;'>使用总单数计算</strong>
		<strong id='p2'>使用每日增量计算</strong>"
		{/if}
	</div>

		{if $TID == null || strtotime(date("Y-m-d")) > strtotime($endTime) || $flag == 1 } 
			<div class="container" id="container1" style="margin-top: 20px;display: block;">
		<form action="__URL__/DRWCL/flag/1" method="post" style="width: 500px;margin: 0 auto">
			<table class="table table-responsive">
				{if $flag == null } 
				<tr>
					<td> <label for="CSL">请输入起始单数</label> </td>
					<td> <input type="text" name="CSL" id="CSL"> </td>
				</tr>
				<tr>
					<td> <label for="Target">请输入周期目标</label> </td>
					<td> <input type="text" name="Target" id="Target"> </td>
				</tr>
				<!-- 更新flag = 1 -->
				{/if}
				<tr>
					<td> <label for="JRDS">请输入今日单数</label> </td>
					<td> <input type="text" name="JRDS" id="JRDS"> </td>
				</tr>
				<tr>
					<td> <input type="submit" value="提交" class="btn btn-default"> </td>
					<td> <input type="reset" value="重置" class="btn btn-default"> </td>
				</tr>
			</table>
		</form>
	</div>
		{/if}

	{if $TID == null || $date > strtotime($endTime) || $flag == 2 } 
	<script>
		var container1 = document.getElementById("container1");
		container1.style.display = "none";
	</script>
	<div class="container" id="container2" style="margin-top: 20px;display: block;">
		<form action="__URL__/DRWCL/flag/2" method="post" style="width: 500px;margin: 0 auto">
			<table class="table table-responsive">
				{if $flag == null } 
				<tr>
					<td> <label for="Target">请输入目标周期</label> </td>
					<td> <input type="text" name="Target" id="Target"> </td>
				</tr>
				{/if}
				<tr>
					<td> <label for="DRZL">请输入今日增量</label> </td>
					<td> <input type="text" name="DRZL" id="DRZL"> </td>
				</tr>
				<tr>
					<td> <input type="submit" value="提交" class="btn btn-default"> </td>
					<td> <input type="reset" value="重置" class="btn btn-default"> </td>
				</tr>
			</table>
		</form>
	</div>
	{/if}

	<script>
		var p1 = document.getElementById("p1");
		var p2 = document.getElementById("p2");
		var container1 = document.getElementById("container1");
		var container2 = document.getElementById("container2");

		p1.onmouseover=function(){
			this.style.color = "#f00";
			if(container1.style.display == "none"){
				container1.style.display = "block";
				container2.style.display = "none";
			}
		}
		p1.onmouseout=function(){
			this.style.color = "#000";
		}
		p2.onmouseover=function(){
			this.style.color = "#f00";
			if(container2.style.display == "none"){
				container1.style.display = "none";
				container2.style.display = "block";
			}
		}
		p2.onmouseout=function(){
			this.style.color = "#000";
		}
		function check(){
			if(container1.style.display == "block"){
				container2.style.display = "none";
			}
		}
		check();

	</script>
	



	<script src="__ROOT__/public/static/bootstrap/js/jquery-3.2.1.min.js"></script>
	<script src="__ROOT__/public/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>