<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<title>登录界面</title>
</head>
<body>
	<div class="container">
		<form action="__URL__/loginPro" method="post" style="width: 500px;margin: 0 auto">
			<div style="float: right;"><a href="__URL__/index">返回首页</a></div>
			<div class="h2" style="text-align: center">用户登录</div>
			<table class="table table-responsive">
				<tr>
					<td> <label for="username">用户名:</label> </td>
					<td> <input type="text" name="username" id="username"> </td>
				</tr>
				<tr>
					<td> <label for="phone">手机号:</label> </td>
					<td> <input type="text" name="phone" id="phone"> </td>
				</tr>
				<tr>
					<td> <label for="password">密码:</label> </td>
					<td> <input type="password" name="password" id="password"> </td>
				</tr>
				<tr>
					<td> <label for="pwd">是否记住密码:</label> </td>
					<td> <input type="checkbox" name="checkbox" id="pwd"> </td>
				</tr>
				<tr>
					<td> <input class="btn btn-default" type="submit" value="登录"></td>
					<td> <input class="btn btn-default" type="reset" value="重置"></td>
				</tr>
			</table>
		</form>
	</div>

	<script>
		var input = document.getElementsByTagName("input");
		var username = input[0];
		var password = input[1];
		var pwd = input[2]
		var submit = input[3];
		submit.onclick=function(){
			if(username.value.length == 0 || password.value.length == 0 ){
				if(username.value.length == 0){
					alert("用户名不能为空!");
					return false;
				}else{
					alert("密码不能为空!");
					return false;
				}
			}else{
				return true;
			}
		}
	</script>




	<script src="/think/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>